
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e1e3e7;
}

header{
    margin: 44px 0 144px 76px;   
}

.link-header{
    margin-left: 23px;
    text-decoration: none;
    color: #989D9C;
    font-size: 24px;
    font-weight: 600;
}

.button-header{
    width: 130px;
    height: 41px;
    color: white;
    background:#665AE1;
    margin-left: 23px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 50px;
    border-style: none;
}
img{
    display: inline-block;
    width: 568px;
    height: 500px;
    margin-left: 125px;
}

section{
    display: inline-block;
    color: #515151;  
    margin-left: 86px;   
  
}
h1{
    line-height: 122px;
    font-size: 100px;
    font-weight: 900;
    
}
h2{
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
}
p{
    width: 515px;    
    line-height: 29px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 65px;
   
}
.button-section{
    width: 239px;
    height: 64px;
    border-radius: 20.5px;
    background: #ADFF00;
    color: black;
    font-size: 28px;
    font-weight: 700;  
    border-style: none; 
   
  

}